/* == Variables for repeated parameters == */
/* == Fonts == */
@font-face {
  font-family: Rock;
  src: url(font/RocknRoll_One/RocknRollOne-Regular.ttf);
}
@font-face {
  font-family: freehand;
  src: url(font/freehand/Freehand/Freehand-Regular.ttf);
}
/* == General Styling == */
body {
  background-color: #212429;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1120px;
  margin: auto;
  /* == Clubs Content styling (Container) == */
}
.container .clubs-header {
  /* == Dimensions == */
  width: 15rem;
  height: 5.5rem;
  /* == For position == */
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #1877F2;
  text-align: center;
  /* == |Clubs| header styling == */
}
.container .clubs-header h1 {
  height: 100%;
  color: white;
  font-family: Rock;
  font-weight: 300;
}
.container .Clubs-conent {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container .Clubs-conent .Clubs-content-menu {
  /* == Normal styling == */
  display: flex;
  flex-direction: column;
  /* == H2 styling == */
  /* == Buttons styling ==*/
}
.container .Clubs-conent .Clubs-content-menu h2 {
  font-family: freehand;
  color: white;
  margin-bottom: 3rem;
}
.container .Clubs-conent .Clubs-content-menu h2 span {
  color: #1877F2;
}
.container .Clubs-conent .Clubs-content-menu .Menu-select {
  display: none;
  justify-content: center;
  align-items: center;
}
.container .Clubs-conent .Clubs-content-menu .Menu-buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 3rem;
}
.container .Clubs-conent .Clubs-content-menu .Menu-buttons button {
  width: 11rem;
  height: 3.5rem;
  background-color: white;
  border-radius: 15px;
  font-family: Rock;
}
.container .Clubs-conent .Clubs-content-menu .Menu-buttons button:hover {
  background-color: #1877F2;
  color: white;
  transition: all 200ms linear;
}
.container .Clubs-conent .Clubs-content-preview {
  color: white;
  display: flex;
  /* == Club section stlying == */
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories {
  width: 45%;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories input {
  width: 90%;
  height: 2rem;
  border: none;
  border-radius: 5px;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories i {
  margin-left: -2rem;
  color: #212429;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories .Clubs-checkbox {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories .Clubs-checkbox h2 {
  font-family: Rock;
  font-weight: 400;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories .Clubs-checkbox h2 span {
  color: #1877F2;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories .Clubs-checkbox .Clubs-checkbox-child {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories .Clubs-checkbox .Clubs-checkbox-child input[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories .Clubs-checkbox .Clubs-checkbox-child label {
  font-family: Rock;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections {
  /* == Art clubs styling == */
  /* == Sport clubs styling == */
  /* == IT clubs styling == */
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single {
  width: 31.3333333333%;
  border: 4px solid #1877F2;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single .Club-content {
  margin-left: 0.7rem;
  margin-bottom: 2rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single .Club-content h3 {
  font-size: 1rem;
  font-family: Rock;
  font-weight: 400;
  margin-top: 0.3rem;
  margin-bottom: -0.3rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single .Club-content p {
  font-size: 0.8rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single .Club-content button {
  width: 6rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #1877F2;
  color: white;
  font-family: 500;
  cursor: pointer;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single .Club-content button:hover {
  color: #212429;
  background-color: white;
  transition: all 200ms linear;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single:hover {
  border: 4px dashed #0e4791;
  transition: all 500ms ease-in-out;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single {
  width: 31.3333333333%;
  border: 4px solid #1877F2;
  /*img 
  {

  }
  */
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single .Club-content {
  margin-left: 0.7rem;
  margin-bottom: 2rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single .Club-content h3 {
  font-size: 1rem;
  font-family: Rock;
  font-weight: 400;
  margin-top: 0.3rem;
  margin-bottom: -0.3rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single .Club-content p {
  font-size: 0.8rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single .Club-content button {
  width: 6rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #1877F2;
  color: white;
  font-family: 500;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single .Club-content button:hover {
  color: #212429;
  background-color: white;
  transition: all 200ms linear;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single:hover {
  border: 4px dashed #0e4791;
  transition: all 500ms ease-in-out;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single {
  width: 31.3333333333%;
  border: 4px solid #1877F2;
  /*img 
  {

  }
  */
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single .Club-content {
  margin-left: 0.7rem;
  margin-bottom: 2rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single .Club-content h3 {
  font-size: 1rem;
  font-family: Rock;
  font-weight: 400;
  margin-top: 0.3rem;
  margin-bottom: -0.3rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single .Club-content p {
  font-size: 0.8rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single .Club-content button {
  width: 6rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #1877F2;
  color: white;
  font-family: 500;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single .Club-content button:hover {
  color: #212429;
  background-color: white;
  transition: all 200ms linear;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single:hover {
  border: 4px dashed #0e4791;
  transition: border 500ms ease-in-out;
}

@media screen and (max-width: 376px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: auto;
    /* == |Clubs| header styling == */
  }
  .container .clubs-header {
    width: 10rem;
    height: 3rem;
    /* == For position == */
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #1877F2;
    text-align: center;
  }
  .container h1 {
    height: 100%;
    color: white;
    font-family: Rock;
    font-weight: 300;
    font-size: 1rem;
  }
  .container .Clubs-content-menu h2 {
    display: flex;
    justify-content: center;
  }
  .container .Clubs-content-menu .Menu-buttons {
    display: none !important;
  }
  .container .Clubs-content-menu .Menu-buttons button {
    display: none;
  }
  .container .Clubs-content-menu .Menu-select {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  .container .Clubs-content-menu .Menu-select select {
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 20px;
    text-align: center;
  }
  .container .Clubs-content-preview {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .Clubs-content-preview .Clubs-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120%;
  }
  .container .Clubs-content-preview .Clubs-categories input {
    width: 90%;
    height: 2.5%;
    border: none;
    border-radius: 5px;
  }
  .container .Clubs-content-preview .Clubs-categories i {
    margin-left: -2rem;
    color: #212429;
  }
  .container .Clubs-content-preview .Clubs-categories .Clubs-checkbox {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .container .Clubs-content-preview .Clubs-categories .Clubs-checkbox h2 {
    font-family: Rock;
    font-weight: 400;
  }
  .container .Clubs-content-preview .Clubs-categories .Clubs-checkbox h2 span {
    color: #1877F2;
  }
  .container .Clubs-content-preview .Clubs-categories .Clubs-checkbox .Clubs-checkbox-child {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
  }
  .container .Clubs-content-preview .Clubs-categories .Clubs-checkbox .Clubs-checkbox-child input[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
  .container .Clubs-content-preview .Clubs-categories .Clubs-checkbox .Clubs-checkbox-child label {
    font-family: Rock;
  }
  .container .Clubs-content-preview .Clubs-sections .Art-clubs {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    width: 85%;
  }
  .container .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single {
    width: 80% !important;
  }
  .container .Clubs-content-preview .Clubs-sections .Sport-clubs {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    width: 85%;
  }
  .container .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single {
    width: 80% !important;
  }
  .container .Clubs-content-preview .Clubs-sections .IT-clubs {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    width: 85%;
  }
  .container .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single {
    width: 80% !important;
  }
}/*# sourceMappingURL=Clubs.css.map */