
@import "./font/font";
@import "./variable/variables";
@import "./pages/Clubs";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

%flex {
    display: flex;
    justify-content: center;
}

body {
    background-image: url(./images/background\ image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 3rem 0;
}

.join_us {
    width: 100%;
    @extend %flex;
    .join_container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;

        .join_title {
            margin: 4rem 0;
            background-color: $darkBlue;
            width: fit-content;
            padding: 1rem 3rem;
            grid-column: span 2;
            place-self: center;
            h2 {
                font-family: $AbyssFont;
                color: $white;
            }
        }
        
        .how_to_join {
            display: grid;
            gap: 2rem;
            margin-bottom: 2rem;
            h3 {
                color: $white;
                font-family: $IMFellFont;
                word-spacing: .5rem;
                position: relative;

                span {
                    color: $lightBlue;
                    font-size: 2rem;
                    &::after {
                        content: "";
                        position: absolute;
                        background-color: $lightBlue;
                        width: 25px;
                        height: 5px;
                        left: 0;
                        bottom: -2px;
                    }
                }
            }
            > p {
                font-family: $itemFont;
                color: $lightGray;
                text-indent: 15px;
                margin-left: 1rem;
            }
            .box_btn {
                @extend %flex;
                gap: 1rem;
                > div {
                    background: #eee;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    box-shadow: 0 0 5px 0 black;
                    gap: .6rem;
                    img {
                        width: 40px;
                    }
                    strong {
                        font-family: $IMFellFont;
                    }
                    p {
                        font-family: $itemFont;
                        color: $darkGray;
                        width: 90%;
                    }
                }
            }
        }

        .animate_ball {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            .wonderfull {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                aspect-ratio: 1/1;
                width: 60%;
                box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
                25px 35px 25px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
                inset -10px -10px 25px rgba(255, 255, 255, 0.9);
                border-radius: 47% 53% 70% 30% / 30% 43% 57% 70%;
                transition: all 1s ease-in-out;

                animation: multiColor 7s alternate infinite;
                &::after {
                    content: "";
                    position: absolute;
                    background-color: white;
                    width: 60px;
                    height: 30px;
                    left: 20px;
                    top: 40px;
                    border-radius: 50%;
                    transform: rotate(-30deg);
                    transition: all 1s ease-in-out;
                }
                &::before {
                    content: "";
                    position: absolute;
                    background-color: white;
                    width: 10px;
                    height: 10px;
                    left: 60px;
                    top: 80px;
                    border-radius: 50%;
                    transition: all .5s ease-in-out;
                }
                &:hover {
                    border-radius: 50%;
                    &::after {
                        left: 25px;
                        top: 45px;
                        height: 20px;
                        transform: rotate(-45deg);
                        transition: all .5s ease-in-out;
                    }
                    &::before {
                        left: 63px;
                        top: 83px;
                        transition: .5s ease-in-out;
                    }
                    transition: .5s ease-in-out;
                }

                p {
                    color: $white;
                    font-family: $itemFont;
                    width: 70%;
                }
            }
        }
    }

    // media of join us
    @media (max-width: 689px) {
        .join_container {
            width: 90%;
            grid-template-rows: auto 1fr auto;
            grid-template-columns: 1fr;
            
            .animate_ball {
                grid-row: 3;
                width: 100%;
                .wonderfull {
                    width: 100%;
                }
            }
            .how_to_join {
                justify-items: center;
                .box_btn  {
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                }
            }
            
        }
    }
}

.contact_us {
    width: 100%;
    @extend %flex;
    .contact_container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;

        .contact_title {
            grid-column: span 2;
            margin: 4rem 0;
            background-color: $darkBlue;
            width: fit-content;
            padding: 1rem 3rem;
            grid-column: span 2;
            place-self: center;

            h2 {
                color: $white;
                font-family: $AbyssFont;
            }
        }
        .contact_sub_title {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h3 {
                color: $white;
                font-family: $IMFellFont;
                position: relative;
                letter-spacing: 1px;
                word-spacing: .5rem;

                span {
                    color: $lightBlue;
                    font-size: 25px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    background-color: $lightBlue;
                    width: 25px;
                    height: 5px;
                    left: 0;
                    bottom: -5px;
                }
            }

            .form {
                width: 100%;
                form {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;
                    
                    label {
                        color: $white;
                        font-family: $itemFont;
                    }
                    input:not(.submit_btn),
                    textarea {
                        width: 80%;
                        padding: 10px 15px;
                        margin-top: 8px;
                        outline: none;
                        border-radius: 3px;
                        border: none;
                    }
                    .submit_btn {
                        width: 150px;
                        padding: 10px;
                        background-color: $darkBlue;
                        border-radius: 15px;
                        color: $white;
                        font-family: $itemFont;
                        font-weight: bold;
                        font-size: 18px;
                        position: relative;
                        left: calc(50% - 10%);
                        transform: translateX(-50%);
                    }
                }
            }
        }
        .contact_img {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    // media of contact 
    @media (max-width: 689px) {
        .contact_container {
            grid-template-rows: auto 1fr auto;
            grid-template-columns: 1fr;
            row-gap: 2rem;
            .contact_title {
                margin: 2rem;
            }
            .contact_img {
                grid-row: 2;
            }
            .contact_sub_title {
                grid-row: 3;
                .form form input,
                .form form textarea {
                    width: 100% !important;
                }
                .form form .submit_btn {
                    left: unset;
                    transform: unset;
                    border: none;
                }
            }
        }
    }
}


@keyframes multiColor {
    0% {
        box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
        25px 35px 25px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
        inset -10px -10px 25px rgba(255, 255, 255, 0.9);
    }
    
    20% {
        box-shadow: inset 20px 20px 20px rgba(185, 2, 2, 0.05),
        25px 35px 25px rgba(185, 2, 2, 0.05), 25px 30px 30px rgba(185, 2, 2525, 0.05),
        inset -10px -10px 25px rgba(0, 0, 0, 0.9);
    }
    40% {
        box-shadow: inset 20px 20px 20px rgba(185, 173, 2, 0.05),
        25px 35px 25px rgba(185, 173, 2, 0.05), 25px 30px 30px rgba(185, 173, 2, 0.05),
        inset -10px -10px 25px rgba(0, 0, 0, 0.9);
    }
    60% {
        box-shadow: inset 20px 20px 20px rgba(2, 185, 103, 0.05),
        25px 35px 25px rgba(2, 185, 103, 0.05), 25px 30px 30px rgba(2, 185, 103, 0.05),
        inset -10px -10px 25px rgba(0, 0, 0, 0.9);
    }
    80% {
        box-shadow: inset 20px 20px 20px rgba(2, 45, 185, 0.05),
        25px 35px 25px rgba(2, 45, 185, 0.05), 25px 30px 30px rgba(2, 45, 185, 0.05),
        inset -10px -10px 25px rgba(0, 0, 0, 0.9);
    }
    100% {
        box-shadow: inset 20px 20px 20px rgba(255, 255, 255, 0.05),
        25px 35px 25px rgba(255, 255, 255, 0.05), 25px 30px 30px rgba(255, 255, 255, 0.05),
        inset -10px -10px 25px rgba(0, 0, 0, 0.9);
    }
}
