* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
.menu-icon{
    margin-right: -18rem;
}

a {
    text-decoration: none;
    color: aliceblue;
}

ul {
    list-style: none;
    display: flex;
    gap: 4rem;
    font-size: large;
}

a:hover {
    background-color: rgba(255 255 255 /.3);
    transition: .3s;
}

.nav-bar {
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(34 38 43 /.7);
    width: 100%;
    transition: .2s;

    .nav-logo a>img {

        width: 5rem;
        height: 5rem;

    }
}

.burger {
    display: none;
    width: 2.5rem;
}

.close img {
    width: 2.5rem;
    display: none;
}

.nav-sing {
    width: 10rem;
    height: 10%;

}

.background {
    position: relative;

}

.background img.cover {
    width: 100%;
    filter: blur(5px);
    position: relative;
    z-index: -11;
}

.nav-sing button {
    font-weight: bold;
    border: none;
    background-color: #1877F2;
    color: white;
    border-radius: 8px;
    padding: 5.5%;
    cursor: pointer;
}

.inside-background {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.inside-background img {
    vertical-align: middle;

}

.text-background {
    color: aliceblue;
    font-size: 5rem;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    position: relative;
}

.text-background::after {
    content: "";
    position: absolute;
    background-color: #78D5D7;
    width: 44px;
    height: 9px;
    left: 0;
    bottom: -2px;
}

.text-background .lettre-1,
.lettre-2 {
    color: #78D5D7;
    font-size: 6rem;
}

.text-background .lettre-3 {
    color: #ffffff;
    font-size: 6rem;
}

.context-background .article-clubs1 {
    text-align: center;
    font-size: medium;
    color: #ffffff;
}

.context-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.see-mr button {
    font-weight: bold;
    border: none;
    background-color: #1877F2;
    color: white;
    border-radius: 8px;
    padding: 1.7%;
    cursor: pointer;
    width: 8rem;
    padding: 9px;

}

.club-article .text-1 {
    position: relative;
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
}

.text-1::after {
    content: "";
    position: absolute;
    background-color: #78D5D7;
    width: 65px;
    height: 6px;
    right: 0;
    bottom: -4px;
}

.slider {
    display: flex;
    gap: .5rem;
    position: absolute;
    top: 68%;
    left: 60rem;
}

.slider div {

    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border-radius: 50%;



}

.slider .selected {
    background-color: #78D5D7;
}




@media screen and (max-width:376px) {
    nav {

        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #212429;
        width: 100vh;
        padding: 1.5rem;
        gap: 8rem;

    }

    // .inside-background img {
    //     width: 400%;
    // }
    .menu-icon{
        margin-right: 0;
    }
    
    .burger {
        display: block;
    }

    .close img {
        display: none;
    }

    .nav-list {
        display: block;
        position: absolute;
        min-width: 50vw;
        height: 30vh;
        top: 0;
        left: 0;
        padding-top: 3rem;
        background-color: rgba(0 0 0 /0.59);
        transform: translateX(-100%);
        transition: transform .5s ease;
    }

    .active {
        transform: translateX(0);
    }

    .nav-list {
        text-align: center;
    }

    .close img {
        display: block;
        position: absolute;
        right: 8px;
        top: 8px;

    }

    ul {
        display: none;
    }

    .nav-logo a>img {

        width: 10rem;

    }

    .nav-sing {
        width: 10rem;
        height: 10%;

    }

    .background img.cover {
        width: 100vh;

    }

    .text-background {
        font-size: 5rem;
        width: max-content;
    }

    .text-background .lettre-1,
    .lettre-2 {
        font-size: 6rem;
    }

    .text-background .lettre-3 {
        font-size: 6rem;
    }

    .context-background .article-clubs1 {
        font-size: xx-small;
    }

    .context-background {
        align-items: center;
        gap: 1rem;
        padding-top: 2rem;
    }

    .see-mr button {
        width: 8rem;
        padding: 5px;

    }

    .club-article {
        position: absolute;
        left: 94%;
        top: 79%;
    }

    .club-article img {
        width: 288%;
    }

    .inside-background {
        top: 41%;
        left: 66%;
    }

    .slider {
        display: flex;
        gap: .5rem;
        position: absolute;
        left: 76%;
        top: 89%;
        width: 72px;
        height: 15px;
        border-radius: 50%;
    }

    .text-background::after {
        width: 43px;
        height: 6px;
        top: 63px;
    }

    .right,
    .left {
        display: none;
    }


    .context-background .article-clubs1 {
        text-align: center;
        font-size: medium;
        font-family: 'Abyssinica SIL', serif;
        color: #ffffff;
    }

    .text-1::after {
        content: "";
        position: absolute;
        background-color: #78D5D7;
        width: 66px;
        height: 6px;
        right: 0;
        bottom: -4px;
    }

    .text-1 {
        width: 280%;
        font-weight: bold;
    }
}