/* == Variables for repeated parameters == */
/* == Fonts == */
@font-face {
  font-family: Rock;
  src: url(font/RocknRoll_One/RocknRollOne-Regular.ttf);
}
@font-face {
  font-family: freehand;
  src: url(font/freehand/Freehand/Freehand-Regular.ttf);
}
/* == General Styling == */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1120px;
  margin: auto;
  /* == Clubs Content styling (Container) == */
}
.container .clubs-header {
  /* == For position == */
  margin: 3rem auto 0 auto;
  display: flex;
  justify-content: center;
  background-color: #1877F2;
  text-align: center;
  padding: 1rem 3rem;
  position: relative;
  z-index: 10;
  /* == |Clubs| header styling == */
}
.container .clubs-header::before {
  content: "";
  position: absolute;
  background: #1877F2;
  width: 100%;
  height: 100%;
  transform: skew(30deg);
  left: -30px;
  top: 0;
  z-index: -5;
}
.container .clubs-header::after {
  content: "";
  position: absolute;
  background: #1877F2;
  width: 10px;
  height: 100%;
  transform: skew(30deg);
  left: -50px;
  top: 0;
  z-index: -5;
}
.container .clubs-header h1 {
  height: 100%;
  color: white;
  font-family: Rock;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .Clubs-conent {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container .Clubs-conent .Clubs-content-menu {
  /* == Normal styling == */
  display: flex;
  flex-direction: column;
  /* == H2 styling == */
  /* == Buttons styling ==*/
}
.container .Clubs-conent .Clubs-content-menu h2 {
  font-family: "IM Fell English SC", serif;
  word-spacing: 5px;
  letter-spacing: 2px;
  color: white;
  margin-bottom: 3rem;
  position: relative;
}
.container .Clubs-conent .Clubs-content-menu h2::after {
  content: "";
  position: absolute;
  background-color: #5EC2ED;
  width: 25px;
  height: 5px;
  left: 0;
  bottom: -5px;
}
.container .Clubs-conent .Clubs-content-menu h2 span {
  color: #5EC2ED;
  font-size: 3rem;
}
.container .Clubs-conent .Clubs-content-menu .Menu-select {
  display: none;
  justify-content: center;
  align-items: center;
}
.container .Clubs-conent .Clubs-content-menu .Menu-buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 3rem;
}
.container .Clubs-conent .Clubs-content-menu .Menu-buttons button {
  width: 11rem;
  height: 3.5rem;
  background-color: white;
  border-radius: 15px;
  font-family: Rock;
  border: none;
  box-shadow: 0 0 5px black;
}
.container .Clubs-conent .Clubs-content-menu .Menu-buttons button:hover {
  background-color: #1877F2;
  color: white;
  transition: all 200ms linear;
}
.container .Clubs-conent .Clubs-content-preview {
  color: white;
  display: flex;
  /* == Club section stlying == */
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories {
  width: 45%;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories input {
  padding: 1rem;
  width: 90%;
  height: 2rem;
  border: none;
  border-radius: 5px;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories i {
  margin-left: -2rem;
  color: #212429;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories .Clubs-checkbox {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0.4rem;
  gap: 1rem;
  color: white;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories .Clubs-checkbox h2 {
  font-family: Rock;
  font-weight: 400;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories .Clubs-checkbox h2 span {
  color: #1877F2;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories .Clubs-checkbox .Clubs-checkbox-child {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories .Clubs-checkbox .Clubs-checkbox-child input[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-categories .Clubs-checkbox .Clubs-checkbox-child label {
  font-family: Rock;
  color: white;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections {
  /* == Art clubs styling == */
  /* == Sport clubs styling == */
  /* == IT clubs styling == */
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections h2 {
  margin: 1rem 0;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
  position: relative;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single {
  width: 31.3333333333%;
  position: relative;
  background: #212429;
  box-shadow: 0 0 5px black;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single::after {
  content: "";
  position: absolute;
  background-color: #1877F2;
  width: 50%;
  height: 50%;
  left: -5px;
  top: -5px;
  z-index: -1;
  transition: all 0.5s linear;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single::before {
  content: "";
  position: absolute;
  background-color: #1877F2;
  width: 70%;
  height: 70%;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  transition: all 0.5s linear;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single:hover::after {
  width: 100%;
  height: 100%;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single:hover::before {
  width: 100%;
  height: 100%;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single img {
  width: 100% !important;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single .Club-content {
  margin-left: 0.7rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single .Club-content h3 {
  font-size: 1rem;
  font-family: Rock;
  font-weight: 400;
  margin-top: 0.3rem;
  margin-bottom: -0.3rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single .Club-content p {
  font-size: 0.8rem;
  font-family: "Itim", cursive;
  color: #C5C5C5;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single .Club-content button {
  width: 6rem;
  height: 2rem;
  border-radius: 0.3rem;
  background-color: #1877F2;
  color: white;
  font-family: 500;
  border: none;
  cursor: pointer;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single .Club-content button:hover {
  color: #212429;
  background-color: white;
  transition: all 200ms linear;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single {
  width: 31.3333333333%;
  position: relative;
  background: #212429;
  box-shadow: 0 0 5px black;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single::after {
  content: "";
  position: absolute;
  background-color: #1877F2;
  width: 50%;
  height: 50%;
  left: -5px;
  top: -5px;
  z-index: -1;
  transition: all 0.5s linear;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single::before {
  content: "";
  position: absolute;
  background-color: #1877F2;
  width: 70%;
  height: 70%;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  transition: all 0.5s linear;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single:hover::after {
  width: 100%;
  height: 100%;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single:hover::before {
  width: 100%;
  height: 100%;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single img {
  width: 100%;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single .Club-content {
  margin-left: 0.7rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single .Club-content h3 {
  font-size: 1rem;
  font-family: Rock;
  font-weight: 400;
  margin-top: 0.3rem;
  margin-bottom: -0.3rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single .Club-content p {
  font-size: 0.8rem;
  font-family: "Itim", cursive;
  color: #C5C5C5;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single .Club-content button {
  width: 6rem;
  height: 2rem;
  border-radius: 0.3rem;
  background-color: #1877F2;
  color: white;
  font-family: 500;
  border: none;
  cursor: pointer;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single .Club-content button:hover {
  color: #212429;
  background-color: white;
  transition: all 200ms linear;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single {
  width: 31.3333333333%;
  position: relative;
  background: #212429;
  box-shadow: 0 0 5px black;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single::after {
  content: "";
  position: absolute;
  background-color: #1877F2;
  width: 50%;
  height: 50%;
  left: -5px;
  top: -5px;
  z-index: -1;
  transition: all 0.5s linear;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single::before {
  content: "";
  position: absolute;
  background-color: #1877F2;
  width: 70%;
  height: 70%;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  transition: all 0.5s linear;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single:hover::after {
  width: 100%;
  height: 100%;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single:hover::before {
  width: 100%;
  height: 100%;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single img {
  width: 100%;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single .Club-content {
  margin-left: 0.7rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single .Club-content h3 {
  font-size: 1rem;
  font-family: Rock;
  font-weight: 400;
  margin-top: 0.3rem;
  margin-bottom: -0.3rem;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single .Club-content p {
  font-size: 0.8rem;
  font-family: "Itim", cursive;
  color: #C5C5C5;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single .Club-content button {
  width: 6rem;
  height: 2rem;
  border-radius: 0.3rem;
  background-color: #1877F2;
  color: white;
  font-family: 500;
  border: none;
  cursor: pointer;
}
.container .Clubs-conent .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single .Club-content button:hover {
  color: #212429;
  background-color: white;
  transition: all 200ms linear;
}

@media screen and (max-width: 689px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: auto;
    /* == |Clubs| header styling == */
  }
  .container .clubs-header {
    width: 10rem;
    height: 3rem;
    /* == For position == */
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #1877F2;
    text-align: center;
  }
  .container h1 {
    height: 100%;
    color: white;
    font-family: Rock;
    font-weight: 300;
    font-size: 1rem;
  }
  .container .Clubs-content-menu h2 {
    display: flex;
    justify-content: center;
    font-family: "IM Fell English SC", serif;
  }
  .container .Clubs-content-menu .Menu-buttons {
    display: none !important;
  }
  .container .Clubs-content-menu .Menu-buttons button {
    display: none;
  }
  .container .Clubs-content-menu .Menu-select {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  .container .Clubs-content-menu .Menu-select select {
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 20px;
    text-align: center;
  }
  .container .Clubs-content-preview {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .Clubs-content-preview .Clubs-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120%;
  }
  .container .Clubs-content-preview .Clubs-categories input {
    width: 90%;
    height: 2.5%;
    border: none;
    border-radius: 5px;
  }
  .container .Clubs-content-preview .Clubs-categories i {
    margin-left: -2rem;
    color: #212429;
  }
  .container .Clubs-content-preview .Clubs-categories .Clubs-checkbox {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .container .Clubs-content-preview .Clubs-categories .Clubs-checkbox h2 {
    font-family: Rock;
    font-weight: 400;
  }
  .container .Clubs-content-preview .Clubs-categories .Clubs-checkbox h2 span {
    color: #1877F2;
  }
  .container .Clubs-content-preview .Clubs-categories .Clubs-checkbox .Clubs-checkbox-child {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
  }
  .container .Clubs-content-preview .Clubs-categories .Clubs-checkbox .Clubs-checkbox-child input[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
  .container .Clubs-content-preview .Clubs-categories .Clubs-checkbox .Clubs-checkbox-child label {
    font-family: Rock;
  }
  .container .Clubs-content-preview .Clubs-sections .Art-clubs {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    width: 85%;
  }
  .container .Clubs-content-preview .Clubs-sections .Art-clubs .Art-clubs-single {
    width: 80% !important;
  }
  .container .Clubs-content-preview .Clubs-sections .Sport-clubs {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    width: 85%;
  }
  .container .Clubs-content-preview .Clubs-sections .Sport-clubs .Sport-clubs-single {
    width: 80% !important;
  }
  .container .Clubs-content-preview .Clubs-sections .IT-clubs {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    width: 85%;
  }
  .container .Clubs-content-preview .Clubs-sections .IT-clubs .IT-clubs-single {
    width: 80% !important;
  }
}
.dashboard_bar .dash_container .logo a {
  display: flex;
  justify-content: center;
}

.body {
  background-image: unset !important;
  background-color: #212429;
  display: flex;
  height: 100vh;
  position: relative;
}

.dashboard_bar {
  width: 230px;
  height: 100%;
  background-color: #5EC2ED;
  position: relative;
}
.dashboard_bar .dash_container {
  display: block;
}
.dashboard_bar .dash_container .logo {
  padding: 1.5rem 0;
}
.dashboard_bar .dash_container .logo img {
  width: 80%;
  cursor: pointer;
}
.dashboard_bar .dash_container .manage ul {
  margin: 3rem 0;
  list-style: none;
  display: grid;
}
.dashboard_bar .dash_container .manage ul li {
  padding: 2rem 1rem 2rem 1rem;
  font-family: "Itim", cursive;
  cursor: pointer;
}
.dashboard_bar .dash_container .manage ul li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  text-decoration: none;
}
.dashboard_bar .dash_container .manage ul li:hover {
  background-color: #1877F2;
  padding: 2rem 1rem 2rem 1.5rem;
  transition: all 0.5s linear;
}

.dashboard_header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
.dashboard_header .dash_container {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  box-shadow: 0 2px 5px black;
}
.dashboard_header .dash_container .elements {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard_header .dash_container .title {
  font-family: "IM Fell English SC", serif;
  font-size: 2rem;
  color: white;
}
.dashboard_header .dash_container .title span {
  color: #5EC2ED;
}
.dashboard_header .dash_container .admin_icon {
  display: flex;
  gap: 2rem;
}
.dashboard_header .dash_container .admin_icon img {
  width: 25px;
}
.dashboard_header .dash_container .admin_icon .admin {
  cursor: pointer;
  border-radius: 50%;
}
.dashboard_header .dash_container .admin_icon .admin:hover {
  border: 2px solid #1877F2;
}
.dashboard_header .tableaux_membre {
  width: 95%;
  display: grid;
  gap: 1rem;
  margin: 1rem auto;
  height: 100%;
}
.dashboard_header .tableaux_membre .add {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #5EC2ED;
  display: flex;
  align-items: center;
  justify-content: center;
  place-self: end;
  cursor: pointer;
}
.dashboard_header .tableaux_membre .add:hover {
  background-color: #1877F2;
  box-shadow: 0 2px 5px black;
  transform: perspective(100px) translateZ(-4px);
  transition: all 0.2s ease-in-out;
}
.dashboard_header .tableaux_membre .add img {
  width: 70%;
}
.dashboard_header .tableaux_membre .table {
  overflow-y: scroll;
  scrollbar-color: #5EC2ED gray;
  scrollbar-width: 5px;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  height: 80%;
}
.dashboard_header .tableaux_membre .table table {
  width: 100%;
  margin: auto;
}
.dashboard_header .tableaux_membre .table table td {
  border-bottom: 1px solid #ccc;
  color: white;
  text-align: center;
  padding: 1rem;
}
.dashboard_header .tableaux_membre .table table td:last-of-type {
  display: flex;
  justify-content: space-evenly;
}
.dashboard_header .tableaux_membre .table table td:last-of-type button {
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}
.dashboard_header .tableaux_membre .table table td:last-of-type button i {
  color: red;
}
.dashboard_header .tableaux_membre .table table td:last-of-type button:first-child i {
  color: rgb(0, 188, 0);
}
.dashboard_header .tableaux_membre .table table td:last-of-type button:hover {
  background: #1877F2;
  transition: all 0.3s ease;
}
.dashboard_header .tableaux_membre .table table td:last-of-type button:hover i {
  color: white;
}
.dashboard_header .tableaux_membre .table table th {
  background-color: #5EC2ED;
  color: white;
  font-family: "Itim", cursive;
  padding: 1rem;
}

.pop_up {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.pop_up .form {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 10%);
  background-color: white;
  width: 33rem;
  padding: 2rem;
}
.pop_up .form::before {
  content: "";
  background-color: #5EC2ED;
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(20px);
}
.pop_up .form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pop_up .form form div {
  width: 100%;
  display: grid;
  gap: 0.2rem;
}
.pop_up .form form div label {
  font-family: "Itim", cursive;
  font-size: 18px;
  position: relative;
}
.pop_up .form form div label::after {
  content: "*";
  position: absolute;
  top: -5px;
  color: red;
}
.pop_up .form form div input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}
.pop_up .form form .btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.pop_up .form form .btns .submit {
  background-color: #1877F2;
  color: white;
  padding: 0.7rem 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 5px;
  place-self: center;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 3px black;
}
.pop_up .form form .btns .submit:hover {
  transform: translateY(3px);
  transition: all 0.4s ease;
}
@media (max-width: 689px) {
  .pop_up .form {
    width: 23rem;
    left: calc(50% - 10px);
  }
}

header .header_container .nav_bar ul, header .header_container .nav_bar, header {
  display: flex;
  justify-content: center;
}

header {
  background-color: rgba(34, 38, 43, 0.7);
  width: 100%;
  height: 6rem;
  position: fixed;
  z-index: 100;
}
header .header_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_container .nav_bar {
  align-items: center;
  height: 100%;
}
header .header_container .nav_bar ul {
  height: 100%;
  list-style: none;
}
header .header_container .nav_bar ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2rem;
  transition: all 0.4s linear;
}
header .header_container .nav_bar ul li:hover {
  background: #1877F2;
}
header .header_container .nav_bar ul li a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}
header .header_container .sign_in button {
  background: #1877F2;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  transition: all 0.4s ease;
  cursor: pointer;
}
header .header_container .sign_in button:hover {
  background: white;
  color: #1877F2;
}

main .article_container {
  position: relative;
}
main .article_container .background_img {
  width: 100%;
}
main .article_container .background_img img {
  width: 100%;
  filter: blur(5px);
}
main .article_container .content {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  align-items: center;
  place-items: center;
  gap: 3rem;
}
main .article_container .content .club_img img {
  border-radius: 5px;
}
main .article_container .content .club_img .info_img {
  color: white;
  font-family: "Itim", cursive;
  text-align: right;
  font-size: 1.5rem;
}
main .article_container .content .club_img .info_img span {
  position: relative;
}
main .article_container .content .club_img .info_img span::after {
  content: "";
  position: absolute;
  background-color: antiquewhite;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  bottom: -5px;
  right: 0;
}
main .article_container .content .text_content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
main .article_container .content .text_content h2 {
  font-size: 4rem;
  font-family: "IM Fell English SC", serif;
  position: relative;
}
main .article_container .content .text_content h2::after {
  content: "";
  position: absolute;
  background-color: #1877F2;
  left: 0;
  bottom: -10px;
  width: 30px;
  height: 7px;
}
main .article_container .content .text_content h2 span {
  color: #1877F2;
}
main .article_container .content .text_content p {
  font-family: "Itim", cursive;
}
main .article_container .content .text_content .see_more_btn {
  display: flex;
  justify-content: center;
}
main .article_container .content .text_content .see_more_btn button {
  font-weight: bold;
  background-color: #1877F2;
  padding: 1rem 2rem;
  color: white;
  border: none;
  border-radius: 4px;
  transition: all 0.4 linear;
  cursor: pointer;
}
main .article_container .content .text_content .see_more_btn button:hover {
  background-color: white;
  color: #1877F2;
}
main .article_container .content .slide_icon {
  background-color: white;
  padding: 1rem;
  border-radius: 3px;
  transition: all 0.4 ease;
  cursor: pointer;
}
main .article_container .content .slide_icon:hover {
  background: #1877F2;
  color: white;
}
main .article_container .content .slide_icon i {
  font-size: 1.5rem;
}
main .slider_btn {
  display: flex;
  gap: 1rem;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .slider_btn div {
  background: white;
  width: 13px;
  height: 13px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
main .slider_btn div:hover {
  background-color: #5EC2ED;
}

.login_body {
  background-color: #212429;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 5rem;
}

.login {
  background: white;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2rem;
  position: relative;
  gap: 1.9rem;
}
.login form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login::after {
  content: "";
  position: absolute;
  background-color: #1877F2;
  width: 30px;
  height: 100%;
  right: -30px;
  top: 0;
}

.text-1 {
  color: #1877F2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.us,
.ps {
  display: flex;
  flex-direction: column;
}

.us > input,
.ps > input {
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 0px 2px 3px rgb(192, 192, 192);
  border-radius: 10px;
  padding: 1rem;
}

label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: xx-large;
  font-weight: bold;
  color: #000000;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.go > input {
  margin-top: 0.7rem;
  width: 7rem;
  height: 3rem;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 0px 3px rgb(192, 192, 192);
  border-radius: 4px;
  border: none;
}

.ok {
  background-color: #1877F2;
  color: white;
}

.ok:hover {
  background-color: white;
  color: #1877F2;
  transition: all 300ms ease-in-out;
}

.go {
  align-self: center;
}

li {
  list-style: none;
  color: #000000;
  text-align: right;
}

@media (max-width: 689px) {
  .login {
    width: calc(90% - 30px);
  }
}
.contact_us {
  display: flex;
  justify-content: center;
}

.contact_us {
  width: 100%;
}
.contact_us .contact_container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}
.contact_us .contact_container .contact_title {
  grid-column: span 2;
  margin: 4rem 0;
  background-color: #1877F2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 3rem;
  grid-column: span 2;
  place-self: center;
  position: relative;
}
.contact_us .contact_container .contact_title::before {
  content: "";
  position: absolute;
  background: #1877F2;
  width: 100%;
  height: 100%;
  transform: skew(30deg);
  left: -20px;
  top: 0;
  z-index: -5;
}
.contact_us .contact_container .contact_title::after {
  content: "";
  position: absolute;
  background: #1877F2;
  width: 10px;
  height: 100%;
  transform: skew(30deg);
  left: -40px;
  top: 0;
  z-index: -5;
}
.contact_us .contact_container .contact_title h2 {
  color: white;
  font-family: "Abyssinica SIL", serif;
}
.contact_us .contact_container .contact_sub_title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact_us .contact_container .contact_sub_title h2 {
  color: white;
  font-family: "IM Fell English SC", serif;
  position: relative;
  letter-spacing: 1px;
  word-spacing: 0.5rem;
}
.contact_us .contact_container .contact_sub_title h2 span {
  color: #5EC2ED;
  font-size: 25px;
}
.contact_us .contact_container .contact_sub_title h2::after {
  content: "";
  position: absolute;
  background-color: #5EC2ED;
  width: 25px;
  height: 5px;
  left: 0;
  bottom: -5px;
}
.contact_us .contact_container .contact_sub_title .form {
  width: 100%;
}
.contact_us .contact_container .contact_sub_title .form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.contact_us .contact_container .contact_sub_title .form form label {
  color: white;
  font-family: "Itim", cursive;
}
.contact_us .contact_container .contact_sub_title .form form input:not(.submit_btn),
.contact_us .contact_container .contact_sub_title .form form textarea {
  width: 80%;
  padding: 10px 15px;
  margin-top: 8px;
  outline: none;
  border-radius: 3px;
  border: none;
}
.contact_us .contact_container .contact_sub_title .form form .submit_btn {
  width: 150px;
  padding: 10px;
  background-color: #1877F2;
  border-radius: 15px;
  color: white;
  font-family: "Itim", cursive;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  left: 40%;
  transform: translateX(-50%);
  border: none;
}
.contact_us .contact_container .contact_img {
  width: 100%;
}
.contact_us .contact_container .contact_img img {
  width: 100%;
}
@media (max-width: 689px) {
  .contact_us .contact_container {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .contact_us .contact_container .contact_title {
    margin: 2rem;
  }
  .contact_us .contact_container .contact_img {
    grid-row: 2;
  }
  .contact_us .contact_container .contact_sub_title {
    grid-row: 3;
  }
  .contact_us .contact_container .contact_sub_title .form form input,
.contact_us .contact_container .contact_sub_title .form form textarea {
    width: 100% !important;
  }
  .contact_us .contact_container .contact_sub_title .form form .submit_btn {
    left: unset;
    transform: unset;
    border: none;
  }
}

.join_us .join_container .how_to_join .box_btn, .join_us {
  display: flex;
  justify-content: center;
}

.join_us {
  width: 100%;
}
.join_us .join_container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}
.join_us .join_container .join_title {
  margin: 4rem 0;
  background-color: #1877F2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 3rem;
  grid-column: span 2;
  place-self: center;
  position: relative;
}
.join_us .join_container .join_title::before {
  content: "";
  position: absolute;
  background: #1877F2;
  width: 100%;
  height: 100%;
  transform: skew(30deg);
  left: -20px;
  top: 0;
  z-index: -5;
}
.join_us .join_container .join_title::after {
  content: "";
  position: absolute;
  background: #1877F2;
  width: 10px;
  height: 100%;
  transform: skew(30deg);
  left: -40px;
  top: 0;
  z-index: -5;
}
.join_us .join_container .join_title h2 {
  font-family: "Abyssinica SIL", serif;
  color: white;
}
.join_us .join_container .how_to_join {
  display: grid;
  gap: 2rem;
  margin-bottom: 2rem;
}
.join_us .join_container .how_to_join h2 {
  color: white;
  font-family: "IM Fell English SC", serif;
  word-spacing: 0.5rem;
  position: relative;
  mix-blend-mode: difference;
}
.join_us .join_container .how_to_join h2 span {
  color: #5EC2ED;
  font-size: 2rem;
  position: relative;
}
.join_us .join_container .how_to_join h2 span::after {
  content: "";
  position: absolute;
  background-color: #5EC2ED;
  width: 25px;
  height: 5px;
  left: 0;
  bottom: -2px;
}
.join_us .join_container .how_to_join > p {
  font-family: "Itim", cursive;
  color: #C5C5C5;
  text-indent: 15px;
  margin-left: 1rem;
}
.join_us .join_container .how_to_join .box_btn {
  gap: 1rem;
}
.join_us .join_container .how_to_join .box_btn > div {
  background: #eee;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 0 black;
  gap: 0.6rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.join_us .join_container .how_to_join .box_btn > div:hover {
  transform: translateY(-5px);
}
.join_us .join_container .how_to_join .box_btn > div img {
  width: 40px;
}
.join_us .join_container .how_to_join .box_btn > div strong {
  font-family: "IM Fell English SC", serif;
}
.join_us .join_container .how_to_join .box_btn > div p {
  font-family: "Itim", cursive;
  color: #5C5C5C;
  width: 90%;
}
.join_us .join_container .animate_ball {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.join_us .join_container .animate_ball .wonderfull {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  aspect-ratio: 1/1;
  width: 60%;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05), 25px 35px 25px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05), inset -10px -10px 25px rgba(255, 255, 255, 0.9);
  border-radius: 47% 53% 70% 30%/30% 43% 57% 70%;
  transition: all 1s ease-in-out;
  -webkit-animation: multiColor 7s alternate infinite;
          animation: multiColor 7s alternate infinite;
}
.join_us .join_container .animate_ball .wonderfull:hover {
  border-radius: 50%;
}
.join_us .join_container .animate_ball .wonderfull p {
  color: white;
  font-family: "Itim", cursive;
  width: 70%;
}
@media (max-width: 689px) {
  .join_us .join_container {
    width: 90%;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
  }
  .join_us .join_container .animate_ball {
    grid-row: 3;
    width: 100%;
  }
  .join_us .join_container .animate_ball .wonderfull {
    width: 100%;
  }
  .join_us .join_container .how_to_join {
    justify-items: center;
  }
  .join_us .join_container .how_to_join .box_btn {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}

@-webkit-keyframes multiColor {
  0% {
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05), 25px 35px 25px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05), inset -10px -10px 25px rgba(255, 255, 255, 0.9);
  }
  20% {
    box-shadow: inset 20px 20px 20px rgba(185, 2, 2, 0.05), 25px 35px 25px rgba(185, 2, 2, 0.05), 25px 30px 30px rgba(185, 2, 255, 0.05), inset -10px -10px 25px rgba(0, 0, 0, 0.9);
  }
  40% {
    box-shadow: inset 20px 20px 20px rgba(185, 173, 2, 0.05), 25px 35px 25px rgba(185, 173, 2, 0.05), 25px 30px 30px rgba(185, 173, 2, 0.05), inset -10px -10px 25px rgba(0, 0, 0, 0.9);
  }
  60% {
    box-shadow: inset 20px 20px 20px rgba(2, 185, 103, 0.05), 25px 35px 25px rgba(2, 185, 103, 0.05), 25px 30px 30px rgba(2, 185, 103, 0.05), inset -10px -10px 25px rgba(0, 0, 0, 0.9);
  }
  80% {
    box-shadow: inset 20px 20px 20px rgba(2, 45, 185, 0.05), 25px 35px 25px rgba(2, 45, 185, 0.05), 25px 30px 30px rgba(2, 45, 185, 0.05), inset -10px -10px 25px rgba(0, 0, 0, 0.9);
  }
  100% {
    box-shadow: inset 20px 20px 20px rgba(255, 255, 255, 0.05), 25px 35px 25px rgba(255, 255, 255, 0.05), 25px 30px 30px rgba(255, 255, 255, 0.05), inset -10px -10px 25px rgba(0, 0, 0, 0.9);
  }
}

@keyframes multiColor {
  0% {
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05), 25px 35px 25px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05), inset -10px -10px 25px rgba(255, 255, 255, 0.9);
  }
  20% {
    box-shadow: inset 20px 20px 20px rgba(185, 2, 2, 0.05), 25px 35px 25px rgba(185, 2, 2, 0.05), 25px 30px 30px rgba(185, 2, 255, 0.05), inset -10px -10px 25px rgba(0, 0, 0, 0.9);
  }
  40% {
    box-shadow: inset 20px 20px 20px rgba(185, 173, 2, 0.05), 25px 35px 25px rgba(185, 173, 2, 0.05), 25px 30px 30px rgba(185, 173, 2, 0.05), inset -10px -10px 25px rgba(0, 0, 0, 0.9);
  }
  60% {
    box-shadow: inset 20px 20px 20px rgba(2, 185, 103, 0.05), 25px 35px 25px rgba(2, 185, 103, 0.05), 25px 30px 30px rgba(2, 185, 103, 0.05), inset -10px -10px 25px rgba(0, 0, 0, 0.9);
  }
  80% {
    box-shadow: inset 20px 20px 20px rgba(2, 45, 185, 0.05), 25px 35px 25px rgba(2, 45, 185, 0.05), 25px 30px 30px rgba(2, 45, 185, 0.05), inset -10px -10px 25px rgba(0, 0, 0, 0.9);
  }
  100% {
    box-shadow: inset 20px 20px 20px rgba(255, 255, 255, 0.05), 25px 35px 25px rgba(255, 255, 255, 0.05), 25px 30px 30px rgba(255, 255, 255, 0.05), inset -10px -10px 25px rgba(0, 0, 0, 0.9);
  }
}
footer {
  background-color: #525252;
  color: white;
  height: 100px;
}
footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  box-shadow: 0 -3px 3px #ccc;
}
footer .container .copyright {
  background: white;
  color: black;
  font-size: 11px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
footer .container .copyright p {
  width: 80%;
  text-align: center;
}
footer .container .social_media {
  text-align: center;
}
footer .container .social_media .media img {
  width: 25px;
}
@media (max-width: 689px) {
  footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer .container {
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 0 0 1rem 0;
  }
  footer .container .copyright {
    height: 100%;
    width: 60%;
    padding: 1rem 0;
    gap: 1rem;
  }
  footer .container .copyright img {
    width: 50%;
  }
  footer .container .tel {
    order: 2;
  }
  footer .container .social_media {
    order: 3;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.index_body {
  background-image: url(./images/background\ image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

hr {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 3rem 0;
}/*# sourceMappingURL=main.css.map */