
@use "./font/font" as *;
@use "./variable/variables" as *;
@use "./pages/allPage" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

%flex {
    display: flex;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

.index_body {
    background-image: url(./images/background\ image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

hr {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 3rem 0;
}
