@use "../font/font" as *;
@use "../variable/variables" as *;


%flex {
    display: flex;
    justify-content: center;
}


.body {
    background-image: unset !important;
    background-color: $backgroundColor;
    display: flex;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.dashboard_bar {
    // width: 230px;
    // height: 100%;
    background-color: #2d353c;
    position: relative;

    .dash_container {
        display: block;

        .logo {
            padding: 1.5rem 0;
            img {
                width: 80%;
                cursor: pointer;
            }
            a {
                @extend %flex;
            }
        }
        
        .manage {

            ul {
                margin: 3rem 0;
                list-style: none;
                display: grid;
                // gap: .6rem;
                
                li {
                    
                    font-family: $itemFont;
                    cursor: pointer;
                    
                    a {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        color: white;
                        text-decoration: none;
                        height: 100%;
                        padding: 2rem 1rem 2rem;

                        &:hover {
                            background-color: $darkBlue;
                            padding: 2rem 1rem 2rem 1.5rem;
                            transition: all .5s linear;
                        }
                    }
                }

            }
        }
    }
}

.dashboard_header {
    width: 100%;
    // height: 98%;
    display: flex;
    flex-direction: column;
    // gap: 1rem;
    
    .dash_container {
        padding: 1.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        box-shadow: 0 2px 5px black;
        
        .elements {
            width: 95%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .title {
            font-family: $IMFellFont;
            font-size: 2rem;
            color: $white;
            span {
                color: $lightBlue;
            }
        }

        .admin_icon {
            display: flex;
            align-items: center;
            gap: 2rem;
            
            a {
                color: $white;
            }

            
            img {
                width: 25px;
                aspect-ratio: 1/1;
            }
            .admin {
                cursor: pointer;
                border-radius: 50%;
                &:hover {
                    border: 2px solid $darkBlue;
                }
            }
        }
    }
    .tableaux_membre {
        width: 100%;
        padding: .5rem;
        display: grid;
        align-content: flex-start;
        gap: 1rem;
        margin: auto;
        height: 100vh;
        overflow-y: scroll;

        .add {
            width: 50px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: $lightBlue;
            display: flex;
            align-items: center;
            justify-content: center;
            place-self: end;
            cursor: pointer;
            
            &:hover {
                background-color: $darkBlue;
                box-shadow: 0 2px 5px black;
                transform: perspective(100px) translateZ(-4px);
                transition: all .2s ease-in-out;
            }

            img {
                width:70%;
            }
        }

        .table {
            // overflow-y: scroll;
            // scrollbar-color: $lightBlue gray;
            // scrollbar-width: 5px;
            // scrollbar-width: thin;
            // scroll-behavior: smooth;
            height: 100%;

            table {
                width: 100%;
                margin: auto;
                
                td {
                    border-bottom: 1px solid #ccc;
                    color: white;
                    text-align: center;
                    padding: 1rem;
    
                    &:last-of-type {
                        display: flex;
                        justify-content: space-evenly;

                        a {
                            text-decoration: none;
                            
                            button {
                                padding: .5rem;
                                cursor: pointer;
                                border: none;
                                border-radius: 3px;
                                display: flex;
                                gap: .3rem;
        
                                i {
                                    color: red;
                                }
                                
                                &:hover {
                                    background: $darkBlue;
                                    transition: all .3s ease;
                                    color: white;
                                }
                            }
                            &:first-child {
                                i {
                                    color: #039803 !important;
                                }
                            }
                        }
                    }
                }
                th {
                    background-color: $lightBlue;
                    color: white;
                    font-family: $itemFont;
                    padding: 1rem;
                }
            }

        }
        .table_club {
            // overflow: hidden;
            
            .club {
                display: grid;
                grid-template-columns: 1fr;
                gap: 1rem;
                // overflow-y: scroll;
                // scrollbar-color: $lightBlue gray;
                // scrollbar-width: 5px;
                // scrollbar-width: thin;
                // scroll-behavior: smooth;
                height: 100%;
                padding: .5rem;
                
                .club_container {
                    display: flex;
                    gap: 1rem;
                    background-color: $backgroundColor;
                    box-shadow: 0 0 4px black;
                    color: white;

                    .club_img {
                        width: fit-content;
                    }
                    .club_info {
                        display: grid;
                        align-content: space-around;
                        width: 100%;

                        .club_btn {
                            display: flex;
                            gap: 1rem;

                            a {
                                text-decoration: none;
                                
                                button {
                                    padding: .5rem;
                                    cursor: pointer;
                                    border: none;
                                    border-radius: 3px;
                                    display: flex;
                                    gap: .3rem;
            
                                    i {
                                        color: red;
                                    }
                                    
                                    &:hover {
                                        background: $darkBlue;
                                        transition: all .3s ease;
                                        color: white;
                                    }
                                }
                                &:first-child {
                                    i {
                                        color: #039803 !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pop_up {
    display: none;
    background-color: rgba(0, 0, 0, 30%);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    
    .form {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 5%);
        background-color: white;
        width: 33rem;
        padding: 1.5rem;
        
        &::before {
            content: "";
            background-color: $lightBlue;
            width: 20px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(20px);
        }
    
        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
    
            div {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: .2rem;
    
                label {
                    font-family: $itemFont;
                    font-size: 18px;
                    position: relative;

                    &::after {
                        content: "*";
                        position: absolute;
                        top: -5px;
                        color: red;
                    }
                }
    
                input, select {
                    width: 100%;
                    padding: .8rem;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    outline: none;
                }

            }
            
            .btns {
                display: flex;
                justify-content: center;
                flex-direction: row;
                gap: 1rem;

                .submit {
                    background-color: $darkBlue;
                    color: white;
                    padding: .7rem 1.5rem;
                    width: fit-content;
                    border: none;
                    border-radius: 5px;
                    place-self: center;
                    font-weight: bold;
                    cursor: pointer;
                    box-shadow: 0 2px 3px black;

                    &:hover {
                        transform: translateY(3px);
                        transition: all .4s ease;
                    }
                }
            }
        }

        @media (max-width: 689px) {
            width: 23rem;
            left: calc(50% - 10px);
        }

    }
}