
@use "../font/font" as *;
@use "../variable/variables" as *;

%flex {
    display: flex;
    justify-content: center;
}

.join_us {
    width: 100%;
    @extend %flex;
    .join_container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;

        .join_title {
            margin: 4rem 0;
            background-color: $darkBlue;
            width: fit-content;
            padding: 1rem 3rem;
            grid-column: span 2;
            place-self: center;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                background: $darkBlue;
                width: 100%;
                height: 100%;
                transform: skew(30deg);
                left: -20px;
                top: 0;
                z-index: -5;
            }
    
            &::after {
                content: "";
                position: absolute;
                background: $darkBlue;
                width: 10px;
                height: 100%;
                transform: skew(30deg);
                left: -40px;
                top: 0;
                z-index: -5;
            }

            h2 {
                font-family: $AbyssFont;
                color: $white;
            }
        }
        
        .how_to_join {
            display: grid;
            gap: 2rem;
            margin-bottom: 2rem;
            h2 {
                color: $white;
                font-family: $IMFellFont;
                word-spacing: .5rem;
                position: relative;
                mix-blend-mode: difference;

                span {
                    color: $lightBlue;
                    font-size: 2rem;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        background-color: $lightBlue;
                        width: 25px;
                        height: 5px;
                        left: 0;
                        bottom: -2px;
                    }
                }
            }
            > p {
                font-family: $itemFont;
                color: $lightGray;
                text-indent: 15px;
                margin-left: 1rem;
            }
            .box_btn {
                @extend %flex;
                gap: 1rem;
                > div {
                    background: #eee;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    box-shadow: 0 0 5px 0 black;
                    gap: .6rem;
                    cursor: pointer;
                    transition: all .3s ease-in-out;

                    &:hover {
                        transform: translateY(-5px);
                    }

                    img {
                        width: 40px;
                    }
                    strong {
                        font-family: $IMFellFont;
                    }
                    p {
                        font-family: $itemFont;
                        color: $darkGray;
                        width: 90%;
                    }
                }
            }
        }

        .animate_ball {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            .wonderfull {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                aspect-ratio: 1/1;
                width: 60%;
                box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
                25px 35px 25px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
                inset -10px -10px 25px rgba(255, 255, 255, 0.9);
                border-radius: 47% 53% 70% 30% / 30% 43% 57% 70%;
                transition: all 1s ease-in-out;

                animation: multiColor 7s alternate infinite;
                &:hover {
                    border-radius: 50%;
                }

                p {
                    color: $white;
                    font-family: $itemFont;
                    width: 70%;
                }
            }
        }
    }

    // media of join us
    @media (max-width: 689px) {
        .join_container {
            width: 90%;
            grid-template-rows: auto 1fr auto;
            grid-template-columns: 1fr;
            
            .animate_ball {
                grid-row: 3;
                width: 100%;
                .wonderfull {
                    width: 100%;
                }
            }
            .how_to_join {
                justify-items: center;
                .box_btn  {
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                }
            }
            
        }
    }
}


@keyframes multiColor {
    0% {
        box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
        25px 35px 25px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
        inset -10px -10px 25px rgba(255, 255, 255, 0.9);
    }
    
    20% {
        box-shadow: inset 20px 20px 20px rgba(185, 2, 2, 0.05),
        25px 35px 25px rgba(185, 2, 2, 0.05), 25px 30px 30px rgba(185, 2, 2525, 0.05),
        inset -10px -10px 25px rgba(0, 0, 0, 0.9);
    }
    40% {
        box-shadow: inset 20px 20px 20px rgba(185, 173, 2, 0.05),
        25px 35px 25px rgba(185, 173, 2, 0.05), 25px 30px 30px rgba(185, 173, 2, 0.05),
        inset -10px -10px 25px rgba(0, 0, 0, 0.9);
    }
    60% {
        box-shadow: inset 20px 20px 20px rgba(2, 185, 103, 0.05),
        25px 35px 25px rgba(2, 185, 103, 0.05), 25px 30px 30px rgba(2, 185, 103, 0.05),
        inset -10px -10px 25px rgba(0, 0, 0, 0.9);
    }
    80% {
        box-shadow: inset 20px 20px 20px rgba(2, 45, 185, 0.05),
        25px 35px 25px rgba(2, 45, 185, 0.05), 25px 30px 30px rgba(2, 45, 185, 0.05),
        inset -10px -10px 25px rgba(0, 0, 0, 0.9);
    }
    100% {
        box-shadow: inset 20px 20px 20px rgba(255, 255, 255, 0.05),
        25px 35px 25px rgba(255, 255, 255, 0.05), 25px 30px 30px rgba(255, 255, 255, 0.05),
        inset -10px -10px 25px rgba(0, 0, 0, 0.9);
    }
}

