
@use "../font/font" as *;
@use "../variable/variables" as *;


// body {
//     background-color: #8ed1fc;
// }

.login_body {
    background-color: $backgroundColor;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1rem 0 3rem 0;
}

.login {
    background: $white;
    display: flex;
    flex-direction: column;
    width: 40%;    
    padding: 2rem;
    position: relative;

    gap: 1.9rem;

    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

}

.login::after {
    content: "";
    position: absolute;
    background-color: $darkBlue;
    width: 30px;
    height: 100%;
    right: -30px;
    top: 0;
}

.text-1 {
    color: $darkBlue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.us,
.ps {
    display: flex;
    flex-direction: column;
}

.us>input,
.ps>input {
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0px 2px 3px rgb(192, 192, 192);
    border-radius: 10px;
    padding: 1rem;
}

label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    color: #000000;
    font-size: 1rem;
    margin-bottom: .5rem;
}

.go>input {
    margin-top: .7rem;
    width: 7rem;
    height: 3rem;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 3px rgb(192, 192, 192);
    border-radius: 4px;
    border: none;
    
}

.ok {
    background-color: $darkBlue;
    color: white;
}

.ok:hover {
    background-color: $white;
    color: $darkBlue;
    transition: all 300ms ease-in-out;
}

.go {
    align-self: center;
}
li{
   list-style: none;
   color: #000000;
   text-align: right;
}

@media (max-width: 689px) {
    .login {
        width: calc(90% - 30px);
    }
   
}