
@use "../font/font" as *;
@use "../variable/variables" as *;


// body {
//     background-color: #8ed1fc;
// }

.login {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 26rem;
    
    padding: 1.5rem;
    gap: 1.9rem;
    position: relative;
    margin: 3rem auto;

}

.login::after {
    content: "";
    position: absolute;
    background-color: rgb(110 133 255);
    width: 30px;
    height: 100%;
    right: -30px;
    top: 0;
}

.text-1 {
    color: rgb(110 133 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.us,
.ps {
    display: flex;
    flex-direction: column;
}

.us>input,
.ps>input {
    background-color: rgb(255, 255, 255);
    border: none;
    height: 40px;
    box-shadow: 0px 2px 3px rgb(192, 192, 192);
    border-radius: 10px;
}

label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    color: #000000;
    font-size: 1rem;
    margin-bottom: .5rem;
}

.go>input {
    margin-top: .7rem;
    width: 7rem;
    height: 3rem;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 2px 3px rgb(192, 192, 192);
    border-radius: .8rem;
    border: none;
}

.ok:hover {
    background-color: rgb(110 133 255);
    transition: all 300ms ease-in-out;
}

.go {
    align-self: center;
}
li{
   list-style: none;
   color: #000000;
   text-align: right;
}

@media screen and (max-width: 413px) {
    .login {
        width: 71%;
        height: 354px;
        margin-right: 43px;
        gap: 16px;
    }
   
}