
@use "../font/font" as *;
@use "../variable/variables" as *;


* {
    padding: 0;
    margin: 0;
    
}

%flex {
    display: flex;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 300vh;
    background-image: unset !important;
    background-color: $backgroundColor;
    display: flex;
}

.dashboard_bar {
    width: 230px;
    height: 100%;
    background-color: $lightBlue;
    position: relative;

    .dash_container {
        display: block;

        .logo {
            padding: .5rem 0;
            img {
                width: 80%;
                cursor: pointer;
            }
            a {
                @extend %flex;
            }
        }
        
        .manage {

            ul {
                list-style: none;
                display: grid;
                // gap: .6rem;

                li {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    color: white;
                    padding: 1rem 1rem 1rem 1rem;
                    font-family: $itemFont;
                    cursor: pointer;
                }

                li:hover {
                    background-color: $darkBlue;
                    padding: 1rem 1rem 1rem 1.5rem;
                    transition: all .5s linear;
                }
            }
        }
    }
}

.dashboard_header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    box-shadow: 0 2px 5px black;

    .dash_container {
        padding: .5rem;
        display: flex;
        justify-content: center;
        
        .elements {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .title {
            font-family: $IMFellFont;
            font-size: 2rem;
            color: $white;
            span {
                color: $lightBlue;
            }
        }

        .admin_icon {
            display: flex;
            gap: 2rem;

            
            img {
                width: 25px;
            }
            .admin {
                cursor: pointer;
                border-radius: 50%;
                &:hover {
                    border: 2px solid $darkBlue;
                }
            }
        }
    }
    .tableaux_membre {
        display: flex;
        width: 100%;
        table {
            width: 95%;
            margin: auto;
            
            td {
                border-bottom: 1px solid #ccc;
                color: white;
                text-align: center;
                padding: 1rem;

                &:last-of-type {
                    div {
                        background: #d9d9d9;
                        padding: .5rem 0;
                        border-radius: 44px;
                        // width: 80px;
                        display: flex;
                        justify-content: space-evenly;
                    }
                }
            }
            th {
                background-color: $darkBlue;
                color: white;
                font-family: $itemFont;
                padding: 1rem;
            }
        }
    }
}